<div class="container banner" ng-controller="NavCtrl">
	<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
		<a class="logo_pad" href="/#"><img src="/img/logo.png" class="img-responsive img-nav"></a>
	</div>
	<div class="col-lg-10 col-md-10 menu_large">
		<ul>
			<li>
				<a href="">About Me</a>
			</li>
			<li>
				<a href="">Works</a>
			</li>
			<li>
				<a href="#/blog">Blog</a>
			</li>
			<li>
				<a href="">Contact</a>
			</li>
			<li class="resume">
				<a href=""><span class="glyphicon glyphicon-download" aria-hidden="true"></span> &nbsp; Resume</a>
			</li>
		</ul>
	</div>
	<div class="col-sm-8 col-xs-8">
		<a class="hamburger">☰</a>
	</div>
	<div class="sub-menu">
		<ul>
			<li>
				<a href="#about">About Me</a>
			</li>
			<li>
				<a href="">Works</a>
			</li>
			<li>
				<a href="">Blog</a>
			</li>
			<li>
				<a href="">Contact</a>
			</li>
			<li class="resume">
				<a href=""><span class="glyphicon glyphicon-download" aria-hidden="true"></span> &nbsp; Resume</a>
			</li>
		</ul>
	</div>
</div>
<div class="background" ng-controller="MainCtrl">
	<div class="container">
		<div class="hero">
			<h1>
				<span>{{heading}}</span>
			</h1>
		</div>
		<div class="tagline">
			<p>
				Passionate in building, teaching and learning
			</p>
		</div>
	</div>
</div>
<div id="about">
	<div class="container">
		<div class="hero">
			Hello
		</div>
	</div>
</div>