<div id="work">
	<div class="work_head">
		<h1>My Work</h1>
		<p>On this page, you can find some projects and photographs <br/>which I've done for some clients and personal usage.</p>
	</div>
	<div class="work_sample">
	    <img src="img/work2.png">
	    <div class="work_sample_description">
	        <h2>Myenglish Tutor</h2>
	        <a href="http://mye2u.co" target="_blank">view more</a>
	    </div>
	</div>
	<div class="work_sample">
	    <img src="img/work.png">
	    <div class="work_sample_description">
	        <h2>Photography</h2>
	        <a>view more</a>
	    </div>
	</div>
</div>